nav {
	background-color: $background;
	width: 100%;

	ul {
		margin-top: .5em;
	}
}

nav .container {
	padding: 1.5em 1em 4.5em 1em;
}

.services {
	font-size: 1em;
	padding-left: 1em;
	text-transform: uppercase;
	
	a {
		color: $white;
		font-family: $Futura;
		font-weight: 300;
		text-decoration: none;
	}

	@media (min-width: 520px) {
		font-size: 1em;
	}
}

.nav__link a {
	color: $white;
	font-family: $Futura;
	font-weight: 300;
	text-decoration: none;
}

.nav--large-screen {
	display: none;

	@media (min-width: 520px) {
		display: inline;
	}
}

.nav--small-screen {
	background: $background;
	display: block;
	position: relative;
	right: 1.5em;
	width: 103%;

	li {
		display: inline;
		padding-right: 1em;

		&:last-of-type {
			padding-right: 0;
		}
	}

	@media (min-width: 520px) {
		display: none;
	}
}


nav li {
	display: inline-block;
	padding-right: 1em;
	padding-bottom: 10px;
	text-align: left;
	
	a:hover {
		text-decoration: underline;
	}

	@media (min-width: $sm-screen) {
		display: inline-block;
		padding-right: 1em;
		padding-top: 0;
	}
}

.icon {
	margin-left: 1em;
	display: inline-block;
	padding-bottom: 1em;
	width: 1.5em;
}

.icon__text {
		color: $white;
		display: none;
		font-family: $Amatic;
		font-size: 1em;
		letter-spacing: 1px;
		margin: 0;
		margin-top: .5em;
		text-transform: uppercase;
		vertical-align: top;

		@media (min-width: $md-screen) {
			display: inline-block;
			font-size: 1.5em;
			letter-spacing: 5px;
			margin-left: 1em;
			margin-top: .1em;
		}
	}