nav {
	background-color: $background;
	height: 6em;
	padding-bottom: 7em;
	padding-top: 1em;
	width: 100%;

	ul {
		display: inline-block;
	}

	@media (min-width: $lg-screen) {
		padding-bottom: 1em;
	}
}

.nav-icon {
	float: left;
	width: 57%;

	@media (min-width: $lg-screen) {
		width: 31%;
	}
}

.nav--secondary {
	height: 6em;
	padding-bottom: .5em;
	padding-top: 1em;
	width: 100%;

	.nav-single__link {
		display: block;
	}
}

.nav-list {
	float: left;
	margin-left: 1em;
	margin-top: .8em;	

	@media (min-width: 66px) {
		float: right;
	}
}

.nav-list__link {
	color: $white;
	display: block;
	float: left;
	font-size: .8em;
	line-height: 2;
	margin-right: 16px;
	text-transform: uppercase;

	&:last-of-type {
			margin-right: 0px;
		}

	@media (min-width: $md-screen) {	
		font-size: 1em;
		margin-right: 30px;
	
		&:last-of-type {
			margin-right: 30px;
		}
	}	
}

.nav-single__link {
	color: white;
	// line-height: 2;
	padding-right: 1em;
}

.logo {
	float: left;
	width: 1.8em;
}

.icon__text {
	color: $white;
	font-family: $Amatic;
	font-size: 1.8em;
	letter-spacing: 1px;
	margin-left: .5em;
	text-align: right;
}