nav {
	background-color: $background;
	height: 6em;
	padding-bottom: .5em;
	padding-top: 1em;
	width: 100%;

	ul {
		display: inline-block;
	}

	@media (min-width: 660px) {
		height: 4em;
	}
}

.nav--secondary {
	height: 6em;
	padding-bottom: .5em;
	padding-top: 1em;
	width: 100%;

	.nav-single__link {
		display: block;
	}
}

.nav-list {
	float: left;
	margin-left: 1em;
	margin-top: .8em;	

	@media (min-width: 66px) {
		float: right;
	}
}

.nav-list__link {
	color: $white;
	display: block;
	float: left;
	margin-right: 16px;
	text-transform: uppercase;

	@media (min-width: $sm-screen) {	
		margin-right: 30px;
	}
}

.nav-single__link {
	color: white;
	display: none;

	@media (min-width: $md-screen) {
		display: block;
	}
}

.logo {
	float: left;
	width: 1.8em;
}

.icon__text {
	color: $white;
	font-family: $Amatic;
	font-size: 1.8em;
	letter-spacing: 1px;
	text-align: right;

	&:hover {
		text-decoration: none;
	}
}