form-table input .search {
  background-color: #87D035;
  color: white; 
  margin-left: 1em;
  padding: 1px 50px;
  width: 80%;
  height: 4em;
}

.button {
	border: none;
	border-radius: 5px;
	color: $white;
	font-size: 1.125em;
	letter-spacing: .5px;
	text-transform: uppercase;
}

.button--main {
	background-color: $cta;
	padding: .57em 1.95em;
}

.button--secondary {
	background-color: $alt-cta;
	padding: .57em 1.95em;
}