input[type="button"] {
  border-radius: 5px;

  &:hover {
  	cursor: pointer;
  }
}

.form-table .button--form-table {
  display: block;
}

.button {
	border: none;
	border-radius: 5px;
	color: $white;
	display: block;
	font-size: 1.125em;
	height: 42px;
	letter-spacing: .5px;
	margin: 0 auto;
	text-transform: uppercase;

	&:hover {
		opacity: .7;
	}
}

.button--main {
	background-color: $cta;
	width: 120px;
}

.button--sm-screen {
	background-color: $cta;
	margin: 0 auto;
	margin-top: 1em;
	width: 100%;

	@media (min-width: $lg-screen) {
		display: none;
	}
}

.button--secondary {
	background-color: $alt-cta;
	margin-right: 4%;
	width: 96%;

	@media (min-width: $lg-screen) {
		margin-right: 0;
		width: 120px;
	}
}

.button--secondary--half {
	background-color: $alt-cta;
	margin-right: 5%;
	width: 95%;
}

.button--tertiary {
	background-color: $cta;
	font-size: 1em;
	margin-bottom: 1.5em;
	width: 100%;
}

.results-page {
	clear: both;
	display: inline-block;
	float: right;
	margin-top: 1em;

	a {
		background-color: $white;
		border: 1px solid $light-grey;
		border-radius: 3px;
		color: $background;
		display: inline-block;
		height: 28px;
		margin-right: 5px;
		text-decoration: none;
		width: 30px;

		&:nth-of-type(4) {
			border: none;
			cursor: default;
		}

		&:hover {
			opacity: .7;
		}
	}
}

.arrow-right {
	background: url(../images/arrow-right.png) center no-repeat;
}

.results-page__button p {
	padding-top: 2px;
	text-align: center;
}