input[type="button"] {
  border-radius: 5px;
  
  display: block;
  margin: 0 auto;

  &:hover {
  	cursor: pointer;
  }

  @media (min-width: $md-screen) {
  	
  }
}

.form-table .search {
  background-color: #5BE7B5;
  border: 1px solid #5BE7B5;
  color: white; 
  width: 170px;
  height: 4em;
}

.button {
	border: none;
	border-radius: 5px;
	color: $white;
	font-size: 1.125em;
	height: 42px;
	letter-spacing: .5px;
	text-transform: uppercase;
}

.button--main {
	background-color: $cta;
	width: 120px;
}

.button--secondary {
	background-color: $alt-cta;
	width: 120px;
}

.button--tertiary {
	background-color: $cta;
	width: 180px;
}

.results-page {
	display: inline-block;
	float: right;
	margin-top: 1em;

	.results-page__button {
		background-color: $white;
		border: 1px solid $light-grey;
		border-radius: 3px;
		color: $background;
		display: inline-block;
		height: 28px;
		margin-right: 5px;
		width: 30px;

		&:nth-of-type(4) {
			border: none;
			cursor: default;
			margin: 0;
			padding: 0;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}
}

.results-page__button p {
	padding-left:2px;
}