//Shared card styles
.card {
	background-color: $almost-white;
	border-radius: 5px;
}

//Wide card styles
.card--wide {
	border: 1px solid $light-grey;
	margin-bottom: 1em;
	padding: 1em;
}

.clear-until-large {
	clear: both;

	@media (min-width: $lg-screen) {
		clear: initial;
	}	
}

//Narrow card styles
.card--narrow {
	display: inline-block;
	margin-bottom: 2em;
	overflow: hidden;
	
	&:last-child {
		margin-right: 0;
	}
}

.card__content {
	color: $main;
	padding: .5em .5em 2em .5em;
}

//Promotions photos
.oslo, .boston, .rio, .napa, .st-thomas, .bangkok {
	background-size: cover;
	height: 200px;
	width: 100%;
}

.oslo {
	background: url(../images/promotions/Oslo.jpg) center no-repeat;
}

.boston {
	background: url(../images/promotions/boston.jpg) center no-repeat;
}

.rio {
	background: url(../images/promotions/rio.jpg) center no-repeat;
}

.napa {
	background: url(../images/promotions/napa-valley.jpg) center no-repeat;
}

.st-thomas {
	background: url(../images/promotions/st-thomas.jpg) center no-repeat;
}

.bangkok {
	background: url(../images/promotions/bangkok.jpg) center no-repeat;
}

//Hotel photos
.dropjes, .hagel-slag, .canal-apt, .condo-apt, .brouwer, .loft-apt, .nynke, .houseboat {
	border-radius: 5px;
	display: inline-block;
	float: left;
	height: 120px;
	margin-right: 3em;
	margin-top: 5px;
	width: 100%;
}

.loft-apt {
	background: url(../images/lodging/loft-apt.jpg) center no-repeat;
	background-size: cover;
	position: relative;
}

.dropjes {
	background: url(../images/lodging/dropjes.jpg) center no-repeat;
	background-size: cover;
}

.hagel-slag {
	background: url(../images/lodging/hagel-slag.jpg) center no-repeat;
	background-size: cover;
}

.canal-apt {
	background: url(../images/lodging/canal-apt.jpg) center no-repeat;
	background-size: cover;
	position: relative;
}

.condo-apt {
	background: url(../images/lodging/condo-apt.jpg) center no-repeat;
	background-size: cover;
	position: relative;
}

.houseboat {
	background: url(../images/lodging/houseboat.jpg) center no-repeat;
	background-size: cover;
	position: relative;
}

.brouwer {
	background: url(../images/lodging/brouwer.jpg) center no-repeat;
	background-size: cover;
}

.nynke {
	background: url(../images/lodging/Nynke.jpg) center no-repeat;
	background-size: cover;
}

.airbnb {	
	background: url(../images/lodging/airbnb.png) center no-repeat;
	bottom: 5px;
	display: inline-block;
	float: left;
	height: 20px;
	position: absolute;
	right: 0;
	width: 5em;
}

.stars-4 {	
	background: url(../images/lodging/4-stars.png) center no-repeat;
	bottom: 5.7em;
	display: inline-block;
	float: left;
	height: 20px;
	left: 11em;
	position: relative;
	width: 16%;
}

//Car photos
.golf, .corsa, .polo, .ka, .panda, .fiesta {
	display: inline-block;
	float: left;
	height: 140px;
	margin-right: 7%;
	margin-top: 5px;
	width: 200px;

	@media (min-width: $ex-lg-screen) {
		margin-right: 14%;
	}
}

.golf {
	background: url(../images/cars/golf.jpg) center no-repeat;
	background-size: cover;
}

.corsa {
	background: url(../images/cars/corsa.jpg) center no-repeat;
	background-size: cover;
}

.polo {
	background: url(../images/cars/polo.jpg) center no-repeat;
	background-size: cover;
}

.ka {
	background: url(../images/cars/ka.jpg) center no-repeat;
	background-size: cover;
}

.panda {
	background: url(../images/cars/panda.jpg) center no-repeat;
	background-size: cover;
}

.fiesta {
	background: url(../images/cars/fiesta.jpg) center no-repeat;
	background-size: cover;
}