//Shared card styles
.card {
	background-color: $almost-white;
	border-radius: 5px;
}

//Shared card row styles
.card-row {
	padding-bottom: .4em;
	width: 100%;
}

.no-padding-bottom .card-row {
	padding-bottom: 0;
}

.lodging {
	margin-top: 0;

	@media (min-width: $lg-screen) {
		margin-top: -6em;
	}
}

//Wide card styles
.card--wide {
	border: 1px solid $light-grey;
	margin-bottom: 1em;
	padding: 1em;
}

.card--narrow__row {
	display: inline-block;
	margin: 0 auto;
	padding-bottom: 0em;

	@media (min-width: $md-screen) {
		padding-bottom: 2em;
	}
}

.card--wide__row {
	clear: both;

	@media (min-width: $lg-screen) {
		clear: initial;
	}
}

.card-column {
	bottom: 3em;
	position: relative;
	right: .1em;
	text-align: right;
}

.card-column--small {
	bottom: 8.5em;
}


//Narrow card styles
.card--narrow {
	display: inline-block;
	margin-bottom: 2em;
	overflow: hidden;
	&:last-child {
		margin-right: 0;
	}

	@media (min-width: 701px) {
		margin-bottom: 0em;
	}
}

.card--narrow__position {
	display: block;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 0em;

	@media (min-width: $md-screen) {
		padding-bottom: 2em;
	}
}

.card--narrow__content {
	color: $main;
	margin: 0;
	padding: .5em .5em 2em .5em;
}

//Promotions photos
.oslo, .boston, .rio, .napa, .st-thomas, .bangkok {
	background-size: cover;
	height: 200px;
	width: 100%;
}


.oslo {
	background: url(../images/promotions/Oslo.jpg) center no-repeat;
}

.boston {
	background: url(../images/promotions/boston.jpg) center no-repeat;
}

.rio {
	background: url(../images/promotions/rio.jpg) center no-repeat;
}

.napa {
	background: url(../images/promotions/napa-valley.jpg) center no-repeat;
}

.st-thomas {
	background: url(../images/promotions/st-thomas.jpg) center no-repeat;
}

.bangkok {
	background: url(../images/promotions/bangkok.jpg) center no-repeat;
}

//Hotel photos
.loft-apt {
	background: url(../images/lodging/loft-apt.jpg) center no-repeat;
	background-size: cover;
	position: relative;
}

.dropjes {
	background: url(../images/lodging/dropjes.jpg) center no-repeat;
	background-size: cover;
}

.hagel-slag {
	background: url(../images/lodging/hagel-slag.jpg) center no-repeat;
	background-size: cover;
}

.canal-apt {
	background: url(../images/lodging/canal-apt.jpg) center no-repeat;
	background-size: cover;
	position: relative;
}

.condo-apt {
	background: url(../images/lodging/condo-apt.jpg) center no-repeat;
	background-size: cover;
	position: relative;
}

.brouwer {
	background: url(../images/lodging/brouwer.jpg) center no-repeat;
	background-size: cover;
}

.airbnb {	
	background: url(../images/lodging/airbnb.png) center no-repeat;
	bottom: 5px;
	display: inline-block;
	float: left;
	height: 20px;
	position: absolute;
	right: 0;
	width: 5em;
}

.stars-4 {	
	background: url(../images/lodging/4-stars.png) center no-repeat;
	bottom: 5.7em;
	display: inline-block;
	float: left;
	height: 20px;
	left: 11em;
	position: relative;
	width: 16%;
}

//Car photos
.golf, .corsa, .polo, .ka, .panda, .fiesta, .dropjes, .hagel-slag, .canal-apt,
.condo-apt, .brouwer, .loft-apt, .dropjes, .hagel-slag, .canal-apt, .condo-apt,
.brouwer {
	border: 1px solid $light-grey;
	border-radius: 5px;
	display: inline-block;
	float: left;
	height: 120px;
	margin-right: 3em;
	margin-top: 5px;
	width: 100%;
}

.golf {
	background: url(../images/cars/golf.jpg) center no-repeat;
	background-size: cover;
}

.corsa {
	background: url(../images/cars/corsa.jpg) center no-repeat;
	background-size: cover;
}

.polo {
	background: url(../images/cars/polo.jpg) center no-repeat;
	background-size: cover;
}

.ka {
	background: url(../images/cars/ka.jpg) center no-repeat;
	background-size: cover;
}

.panda {
	background: url(../images/cars/panda.jpg) center no-repeat;
	background-size: cover;
}

.fiesta {
	background: url(../images/cars/fiesta.jpg) center no-repeat;
	background-size: cover;
}