//Button styles
input[type="button"] {
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}

.button {
  border: none;
  border-radius: 5px;
  color: $white;
  display: block;
  font-size: 1.125em;
  height: 42px;
  letter-spacing: .5px;
  margin: 0 auto;
  text-transform: uppercase;

  &:hover {
    opacity: .7;
  }
}

.button--main {
  background-color: $cta;
  width: 120px;
}

.button--sm-screen {
  background-color: $cta;
  margin: 0 auto;
  margin-top: 1em;
  width: 100%;

  @media (min-width: $lg-screen) {
    display: none;
  }
}

.button--secondary {
  background-color: $alt-cta;
  margin-left: 5%;
  width: 95%;

  @media (min-width: $lg-screen) {
    margin-right: 0;
    width: 120px;
  }
}

.form-table__button {
  display: inline-block;
  width: 48%;

  @media (min-width: $lg-screen) {
    margin-left: .2em;
    width: 21%;
  }
}

@-moz-document url-prefix() { 
  .button--secondary {
     position: relative;
     top: 15px;
  }
}

.button--secondary--half {
  background-color: $alt-cta;
  margin-right: 5%;
  width: 95%; 

  @media screen\0 {
    margin-top: 20%;
  } 
}

.button--tertiary {
  background-color: $cta;
  font-size: 1em;
  margin-bottom: 1.5em;
  width: 100%;
}

.results-page {
  clear: both;
  display: inline-block;
  float: right;
  margin-top: 1em;
}

.results-page__button {
    background-color: $white;
    border: 1px solid $light-grey;
    border-radius: 3px;
    color: $background;
    display: inline-block;
    height: 28px;
    margin-right: 5px;
    text-decoration: none;
    width: 28px;

    &:nth-of-type(4) {
      border: none;
      cursor: default;
    }

    &:hover {
      opacity: .7;
    }
  }

.button--rectangle {
  border-radius: 3px;
  display: inline-block;
  height: 25px;
  margin: 0 5px 5px 0;
  width: 45px;  

  p {
    color: $white;
  }
}

.button--square {
  border-radius: 3px;
  float: left;
  height: 25px;
  margin: 5px 5px 0 0;
  width: 25px;
}

.calendar-icon {
  bottom: 2em;
  position: relative;
  right: 6.5em;
}

.red {
  background-color: #D83F3F;
}

.green {
  background-color: #9CD260;
}

.yellow {
  background-color: #F6D34B;
}

.orange {
  background-color: #E4A53F;
}

.grey {
  background-color: $light-grey;
}

.arrow-right {
  background: url(../images/arrow-right.png) center no-repeat;
}

.results-page__button p {
  padding-top: 2px;
  text-align: center;
}

.form-table--secondary {
  padding-bottom: .5em;

  @media (min-width: $md-screen) {
    padding: 0 0 2em 1em;
  }
}

.form-table--secondary select {
  width: 80%;

  @media (min-width: $sm-screen) {
    width: 90%;
  }
}

.form-column {
  padding-right: 10% ;
  width: 90%
}

.form-column label{
  display: block;
}

.form-column label:hover {
  cursor: pointer;
}

.form-column input[type=checkbox] {
  margin-right:5px;
}

.form-column input[type=checkbox]:hover {
  cursor: pointer;
}

.form-column--secondary {
  input[type="checkbox"] {
    margin-right: 5px;
  }

  input[type="range"] {
    width: 44%;
  }

  .form-column__range-values {
    height: 1.5em;
  }

  .form-column__title {
    margin-top: 0;
  }

  .form-column__range-values {
    width: 88%;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
  font-weight: 400;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
  font-weight: 400;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
  font-weight: 400;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
  font-weight: 400;
}

input[type="text"],
input[type="date"],
input[type="submit"],
textarea,
select {
  background: hsla(195, 195%, 195%, .9);
  border: 1px solid grey;
  border-radius: 3px;
  box-sizing: content-box;
  color: #606060;
  display: inline-block;
  font-size: .9rem;
  height: 30px;
  line-height: normal;
  margin: 0px 0px 10px 0;
  padding: 0;
  padding-left: 8px;
  outline: none;
  transition: ease-in-out 0.2s;
 	-webkit-appearance: none; 
 	width: 90%;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-appearance: none;

  @media (min-width: $sm-screen) {
    margin: 5px 0px 20px 0;
  }
}

.form-table__inputs {
  clear: both;
  margin: 0 1em;
  padding: 2em 0 1em 0;
}

.form-table input[type="text"],
.form-table input[type="date"],
.form-table input[type="submit"],
.form-table textarea,
.form-table select {
  background: hsla (195, 195%, 195%, .9);
  box-sizing: content-box;
  color: #606060;
  display: inline-block;
  font-size: .9em;
  height: 30px;
  transition: ease-in-out 0.2s;
  width: 97%;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-appearance: none;
}

input[type="date"],
input[type="time"],
input[type="submit"],
select {
  cursor: pointer;
}

select {
  height: 32px;
  -moz-appearance: none;
  transition: ease-in-out 0.2s;
  -webkit-appearance: none;
}

input[type="date"]::-webkit-inner-spin-button, 
input[type="date"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

//Filter and sort drop downs on small screens
.drop-down select {
width: 91%;
background-color: #ECF8FD;
}

.form--dropdown {
  display: inline-block;

  input[type="checkbox"] {
    margin-right: 5px;
  }

  select {
    background-color: #ECF8FD;
  }
}

.multiselect {
  width: 108%;

  @media (min-width: $sm-screen) {
    width: 101%;
  }
}

.selectBox {
  position: relative;
}

.overSelect {
  left: 0; right: 0; top: 0; bottom: 0;
  position: absolute;
}

#checkboxes {
  background-color: $white;
  border: 1px $secondary solid;
  border-radius: 5px;
  display: none;
  padding: 1em 3em 1em 1em;
  position: absolute;
}

#checkboxes label {
    display: block;
}