.form-table {
	clear: both;
	display: block;
  font-family: $Futura;
  font-weight: 300;
  letter-spacing: .1px;
  margin: 0 auto;
  width: 93%;
	
	input {
	  display: none;
	}

	@media (min-width: $ex-lg-screen) {
		width: 100%;
	}
}

.form-table__label{
  display: inline-block;
  background: grey;
  border: 1px solid #ccc;
  bottom: 0px;
  color: white;
  font-size: .7em;
  font-weight: 100;
  float: left;
  left: 1px;
  letter-spacing: 1px;
  margin: 0;
  padding: 5px 20px 5px 10px;
  text-align: center;
  width: 3.75em;

  @media (min-width: $md-screen) {
  	font-size: 1em;
  }
}

.content {
  clear: both;
  display: none;
  width: 100%;
}

.flight-search li:first-of-type {
	@media (min-width: $md-screen) {
		padding-left: 3.2em;
		margin-bottom: 1em;
	}
}

.flight-search a {
	color: grey;
	display: inline;
	float: left;
  font-weight: 100;
  padding: 1em 14px 0;
  text-decoration: none;

  &:hover {
  	text-decoration: underline;
  }

  @media (min-width: $md-screen){
  	font-size: 1.2em;
  }
}

.inputs {
	clear: both;
	margin: 0 1em;
	padding-top: 1em;
}

.tab-content #hidden li p {
  color: hsla(195, 195%, 195%, 0.00);
}

input:checked + label {  
  background: hsla(195, 195%, 195%, .9);
  border-bottom: 1px solid #EAEAEC; 
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  color: grey;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {  
  background-color: hsla(195, 195%, 195%, .9);
  display: block;
  padding-bottom: 1em;
}