<section class="full margin-top">
	<p>Flexible dates?</p>
	<p>Check out our price tracking!</p>
	<p>Click a day to view pricing.</p>

	<ul class="block left">
		<li class="button--rectangle green"><p>$365+</p></li>
		<li class="button--rectangle orange"><p>$500+</p></li>
		<li class="button--rectangle yellow"><p>$625+</p></li>
		<li class="button--rectangle red"><p>$750+</p></li>
	</ul>

	<h2 class="lighter left uppercase">November</h2>
	<p class="left clear">Avg temp: 45F/7C</p>
	<img class="right calendar-icon" src="../images/rainy.png">

	<ul class="block left">
		<li class="button--square grey"></li>
		<li class="button--square grey"></li>
		<li class="button--square grey"></li>
		<li class="button--square grey"></li>
		<li class="button--square grey"></li>
		<li class="button--square red"></li>
		<li class="button--square red"></li>
	</ul>

	<ul class="block left">
		<li class="button--square red"></li>
		<li class="button--square red"></li>
		<li class="button--square red"></li>
		<li class="button--square red"></li>
		<li class="button--square yellow"></li>
		<li class="button--square red"></li>
		<li class="button--square red"></li>
	</ul>

	<ul class="block left">
		<li class="button--square red"></li>
		<li class="button--square green"></li>
		<li class="button--square green"></li>
		<li class="button--square red"></li>
		<li class="button--square yellow"></li>
		<li class="button--square red"></li>
		<li class="button--square red"></li>
	</ul>

	<ul class="block left">
		<li class="button--square red"></li>
		<li class="button--square red"></li>
		<li class="button--square red"></li>
		<li class="button--square green"></li>
		<li class="button--square green"></li>
		<li class="button--square red"></li>
		<li class="button--square red"></li>
	</ul>

	<ul class="block left">
		<li class="button--square red"></li>
		<li class="button--square orange"></li>
		<li class="button--square orange"></li>
		<li class="button--square orange"></li>
		<li class="button--square grey"></li>
		<li class="button--square grey"></li>
		<li class="button--square grey"></li>
	</ul>
</section>