<section class="full margin-top">
	<p>Flexible dates?</p>
	<p>Check out our price tracking!</p>
	<p>Click a day to view pricing.</p>

	<ul class="block left">
		<li class="button--rectangle green"><p>$365+</p></li>
		<li class="button--rectangle orange"><p>$500+</p></li>
		<li class="button--rectangle yellow"><p>$625+</p></li>
		<li class="button--rectangle red"><p>$750+</p></li>
	</ul>

	<ul class="">
		<div class="left">
		<li><h2 class="lighter uppercase ib">November</h2></li>
		<li><p class="ib">Avg temp: 45F/7C</p></li>
		</div>
		<li><img class="left calendar-icon" src="../images/rainy.png"></li>
	</ul>

	<ul class="block left">
		<li class="button--square grey"></li>
		<li class="button--square grey"></li>
		<li class="button--square grey"></li>
		<li class="button--square grey"></li>
		<li class="button--square grey"></li>
		<li class="button--square red"></li>
		<li class="button--square red"></li>
	</ul>

	<ul class="block left">
		<li class="button--square red"></li>
		<li class="button--square red"></li>
		<li class="button--square red"></li>
		<li class="button--square red"></li>
		<li class="button--square yellow"></li>
		<li class="button--square red"></li>
		<li class="button--square red"></li>
	</ul>

	<ul class="block left">
		<li class="button--square red"></li>
		<li class="button--square green"></li>
		<li class="button--square green"></li>
		<li class="button--square red"></li>
		<li class="button--square yellow"></li>
		<li class="button--square red"></li>
		<li class="button--square red"></li>
	</ul>

	<ul class="block left">
		<li class="button--square red"></li>
		<li class="button--square red"></li>
		<li class="button--square red"></li>
		<li class="button--square green"></li>
		<li class="button--square green"></li>
		<li class="button--square red"></li>
		<li class="button--square red"></li>
	</ul>

	<ul class="block left">
		<li class="button--square red"></li>
		<li class="button--square orange"></li>
		<li class="button--square orange"></li>
		<li class="button--square orange"></li>
		<li class="button--square grey"></li>
		<li class="button--square grey"></li>
		<li class="button--square grey"></li>
	</ul>
</section>