<footer>
	<ul class="clean-list">
		<li><a href="#" class="clean-link">Flights</a></li>
		<li><a href="#" class="clean-link">Lodging</a></li>
		<li><a href="#" class="clean-link">Cars</a></li>
		<li><a href="#" class="clean-link">Specials</a></li>
	</ul>
	<ul class="social center">
		<li><a href="#"><img src="../images/social/facebook.svg"></a></li>
		<li><a href="#"><img src="../images/social/twitter.svg"></a></li>
		<li><a href="#"><img src="../images/social/instagram.svg"></a></li>
		<li><a href="#"><img src="../images/social/youtube.svg"></a></li>
	</ul>
	<p>Our mission is to provide complete pricing transparency and arm you with the tools you need to make the smartest bookings. No hidden fees, no fine print, no dishonesty about our prices. <a href="#" class="clean-link">Learn more.</a></p>
</footer>