<nav class="container">
	<section class="left"> 
		<a href="/index">
		<%= image_tag "logo.svg", :class => 'icon' %>
		<h1 class="icon__text">wanderlust</h1>
		</a>
	</section>

	<section class="right clean-list">
		<ul>
			<li><%= link_to "LOG IN", "https://middlemanapp.com", target: "_blank" %></li>
			<li><%= link_to "SIGN UP", "https://middlemanapp.com", target: "_blank" %></li>
		</ul>
	</section>
</nav>