<nav>
<div class="container">
	<ul class="half-to-third left">
		<li><a href="/index.html"><img class="logo" src="../images/logo.svg"></a></li>
		<li><a class="icon__text clean-link" href="/index.html">Wanderlust</a></li>
	</ul>

	<div class="full-to-two-thirds nav-list clean-list">
		<ul>
			<li class="nav-list__link"><a class="clean-link" href="/index.html">Flights</a></li>
			<li class="nav-list__link"><a class="clean-link" href="/index.html">Lodging</a></li>
			<li class="nav-list__link"><a class="clean-link" href="/index.html">Cars</a></li>
			<li class="nav-list__link"><a class="clean-link" href="/index.html">Specials</a></li>
		</ul>

		<ul class="right">
			<li class="nav-single__link hide--small"><a class="clean-link" href="#">Welcome, Eva</a></li>
		</ul>
	</div>
</div>
</nav>