<div class="results-page">
	<input type="button" value="1" class="results-page__button" onclick="location.href='#';">
	<input type="button" value="2" class="results-page__button" onclick="location.href='#';">
	<input type="button" value="3" class="results-page__button" onclick="location.href='#';">
	<input type="button" value="..." class="results-page__button" onclick="location.href='#';">
	<input type="button" value="38" class="results-page__button" onclick="location.href='#';">
	<input type="button" value="a" class="results-page__button" onclick="location.href='#';">
</div>