html{
	x-overflow: hidden;
}

body {
	font: $body-font;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

p, a {
	letter-spacing: .1px;
}

.card--narrow__photo {
	height: 200px;
	width: 100%;
}

//section title for "Featured Deals" on home page - find better place for this!!!!
.section-title {
	color: $main;
	font-family: $Futura;
	font-size: 2em;
	font-weight: 300;
	margin: 0;
	padding-bottom: 1em;
}

