.container {
	margin: 0 auto;
	max-width: 1000px;
}

.container--narrow {
	border: 1px solid blue;
	float: left;
	margin-left: 1em;
	max-width: 230px;
}

.container--medium {
	border: 1px solid green;
	float: right;
	margin-right: 1em;
	max-width: 600px;
}