//Containers

.container {
	margin: 0 auto;
	padding: 0 1em;
	max-width: 1000px;
}

.container--narrow--nav {
	float: left;
	width: 57%;

	@media (min-width: $md-screen) {
		width: 30%;
	}
}

.container--medium--nav {
	width: 100%;

	@media (min-width: 828px) {
		width: 66%;
	}
}

.container--narrow {
	display: none;
	
	@media (min-width: $md-screen) {
		display: block;
		float: left;
		max-width: 30%
	}

	@media (min-width: $lg-screen) {
		max-width: 33%
	}
}

.container--medium {
	max-width: 100%;

	@media (min-width: $md-screen) {
		max-width: 66%
	}
}

.user-selection {
	padding-bottom: 2em;
}

//Rows

.card-row {
	width: 100%;
	p {
		display: inline-block;
		width: 100%;

		@media (min-width: 500px) {
			width: initial;
		}
	}
	
	@media (min-width: $md-screen) {
		width: 74%;
		padding-bottom: .5em;	
		text-align: left;

		&:last-of-type {
			padding-bottom: 0;
		}
	}
}

//Columns
.column {
	display: inline-block;
}

.column__1 {
	width: 49%;

	@media (min-width: 827px) {
		width: 31%;
	}
}

.column__2 {
	width: 49%;

	@media (min-width: 827px) {
		width: 31%;
	}
}

.column__3--small {
	width: 23.9%;

	@media (min-width: 827px) {
		width: 15%;
		display: none;
	}
}

.column__3--medium {
	display: none;

	@media (min-width: 827px) {
		display: inline-block;
		width: 12%;
	}
}

.column__4 {
	width: 48%;

	@media (min-width: 827px) {
		margin-left: .2em;
		width: 21%;
	}
}

.card-column {
	bottom: 3em;
	display: inline-block;
	position: relative;
	right: .1em;
	text-align: right;
}

.card-result {
	clear: right;
	width: 100%;
}

.card-container {
	border: 1px solid $light-grey;
	border-radius: 5px;
	margin-bottom: 1em;
	padding: 1em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.row {
	margin-left: 1em;

	@media (min-width: $md-screen) {
		margin-left: 3em;
	}
}

.row-half {
display: block;
width: 100%;

	@media (min-width: $md-screen) {
		font-size: 1.1em;
		display: inline-block;	
		width: 48%;
	}
}