//Main container
.container {
	margin: 0 auto;
	padding: 0 1em;
	max-width: 1000px;
}

//Grid
.full {
	width: 100%;
}

.half {
	max-width: 49%;
}

.half-always {
	width: 49%;
}

.one-third {
	max-width: 33%
}

.one-quarter {
	width: 23.9%
}


.column {
	display: inline-block;
}

//Responsive grid
.full-to-half {
width: 100%;

	@media (min-width: $md-screen) {
		display: inline-block;
		width: 49%;
	}
}

.full-to-two-thirds {
	width: 100%;

	@media (min-width: $lg-screen) {
		width: 66%;
	}
}

.full-to-thirds {
	width: 100%;

	@media (min-width: $lg-screen) {
		margin-right: 1.33%;
		width: 32%;
	}
}

.half-to-third {
	width: 57%;

	@media (min-width: $lg-screen) {
		width: 31%;
	}
}

.half-to-third--small {
	width: 57%;

	@media (min-width: $sm-screen) {
		width: 31%;
	}
}

.half-to-third--secondary {
	width: 49%;

	@media (min-width: $lg-screen) {
		width: 31%;
	}
}

.half-to-quarter {
	width: 48%;

	@media (min-width: $lg-screen) {
		margin-left: .2em;
		width: 21%;
	}
}



.quarter-to-hide {
	width: 23.9%;

	@media (min-width: $lg-screen) {
		display: none;
	}
}

.half-to-hide {
	margin-bottom: 23px;
	width: 48.5%;

	// @media (min-width: $lg-screen) {
	// 	display: none;
	// }
}

.hide-to-one-quarter {
	display: none;

	@media (min-width: $lg-screen) {
		display: inline-block;
		width: 23.9%;
	}
}

.hide-to-twelfth {
	display: none;

	@media (min-width: $lg-screen) {
		display: inline-block;
		width: 12%;
	}
}



