//Card typography
.lighter {
	font-weight: lighter;
}

.section-title {
	color: $main;
	font-family: $Futura;
	font-size: 2em;
	font-weight: 300;
	letter-spacing: .5px;
	margin: 0;
	padding: 1em 0;
	text-transform: uppercase;
}

.card--narrow__title {
	font-size: 1.5em;
	font-weight: 300;
	text-align: center;
}

.card-column__type {
	color: $secondary;
	padding: .2em 0;
}

.card-column__detail {
	font-size: .75em;
	line-height: 1;
	padding: .5em 0;
}

.card-row__main {
	display: inline-block;
	padding-right: 15px;
}

.card-row__detail {
	color: $secondary;
	display: inline-block;
	padding-right: 15px;
}

.card-row__detail--additional {
	display: inline-block;
	text-decoration: underline;
}

//Filter typography
.filter__title {
	font-size: 1.5rem;
	font-weight: 300;
	margin-top: 1em;

	&:first-of-type {
		// margin-top: 3em;
	}
}

.filter__subtitle {
	font-size: 1.125rem;
	margin-top: .5em;
}

.filter__label {
	color: $secondary;
	font-size: 1rem;
}