//Card typography
.lighter {
	color: $main;
	font-weight: lighter;
}

.section-title {
	color: $main;
	font-weight: 300;
	letter-spacing: .5px;
	padding: 1em 0;
}

.card__detail--emphasized, .card__detail, .card__detail--additional {
	display: inline-block;
}

.card__detail {
	color: $secondary;
	line-height: 2;
}

.card__detail--emphasized {
	color: $main;
}

.card__detail--fineprint {
	font-size: .75rem;
	padding: .5em 0;
}

//Form-column typography
.form-column__title {
	color: $main;
	font-size: 1.5rem;
	font-weight: 300;
	margin-top: 1em;
}

.form-column__subtitle {
	font-size: 1.125rem;
	margin-top: .5em;
}

.form-column__label {
	color: $secondary;
	font-size: 1rem;
}

//Typography helpers
.strikethrough {
	color: $secondary;
	text-decoration: line-through;
}

.underline {
	text-decoration: underline;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.uppercase {
	text-transform: uppercase;
}