.left {
	float: left;
}

.right {
	float: right;
}

.right-medium {
	@media (min-width: $lg-screen) {
		float: right;
	}
}

.center {
	display: block;
	margin: 0 auto;
}

.show-medium {
	display: none;

	@media (min-width: $md-screen) {
		display: block;
	}
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clean-list {
  list-style: none;
  padding: 0;

  a:hover {
  	text-decoration: underline;
  }
}

.clean-link {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.margin-top {
	margin-top: 2em;
}

.strikethrough {
	color: $secondary;
	text-decoration: line-through;
}

.hide--small {
	display: none;

	@media (min-width: $lg-screen) {
		display: block;
	}
}

.hide--medium {
	@media (min-width: $lg-screen) {
		display: none;
	}
}

.block {
	display: block;
}

.margin-left {
	margin-left: 10px;
}