---
title: Wanderlust
layout: layout
---

<%= partial "partials/nav" %>

<div class="container margin-top">

	<div class="container--narrow filter">
			<button class="button button--main">Create price alert</button>
			
			<p>Price</p>
			<input type="range"><input type="range">

			<p>Stops</p>
				<label><input type="checkbox">nonstop</label>
				<label><input type="checkbox">1 stop</label>
				<label><input type="checkbox">2+ stops</label>

			<p>Times</p>
			<p>Take-off: Chicago</p>
			<p>Friday 5:30am - 10:00pm</p>
				<input type="range"><input type="range">
			
			<p>Take-off: Amsterdam</p>
			<p>Friday 5:30am - 10:00pm</p>
				<input type="range"><input type="range">

			<p>Show landing times</p>

			<p>Airports</p>
			<p>Chicago</p>
				<label><input type="checkbox">ORD: O'Hare International</label>
				<label><input type="checkbox">MDW: Midway</label>
			<p>Amsterdam</p>
				<label><input type="checkbox">AMS: Schiphol Airport</label>

			<p>Airlines</p>
				<label><input type="checkbox">Aer Lingus</label>
				<label><input type="checkbox">Aeromexico</label>
				<label><input type="checkbox">Air Canada</label>
				<label><input type="checkbox">Air Europe</label>
				<label><input type="checkbox">Air France</label>
				<label><input type="checkbox">Air India</label>
				<label><input type="checkbox">Alitalia</label>
				<label><input type="checkbox">American Airlines</label>
				<label><input type="checkbox">ANA</label>
				<label><input type="checkbox">Australian Airlines</label>
				<label><input type="checkbox">British Airways</label>
				<label><input type="checkbox">Cathay Pacific</label>
				<label><input type="checkbox">Copa Airlines</label>
				<label><input type="checkbox">Delta</label>
				<label><input type="checkbox">Emirates</label>
				<label><input type="checkbox">EtihadAirways</label>
				<label><input type="checkbox">EVA Air</label>
				<label><input type="checkbox">Finnair</label>
				<label><input type="checkbox">Iberia</label>
				<label><input type="checkbox">Jet Airways</label>
				<label><input type="checkbox">KLM</label>
				<label><input type="checkbox">LOT Polish Airlines</label>
				<label><input type="checkbox">SWISS</label>
				<label><input type="checkbox">United</label>

	</div>

	<div class="container--medium">
		<div class="user-selection">
			<label>From</label>
      		<input type="text" name="from" placeholder="Chicago ORD">
      <label>To</label>
      		<input type="text" name="fname" placeholder="Amsterdam ORS">
			<select name="Adults">
				<option value="more filters selected">1 Adults</option>
			  <option value="volvo">2 Adults</option>
			  <option value="saab">3 Adults</option>
			  <option value="fiat">4 Adults</option>
			</select>
			<select name="Cabin">
				<option value="more filters selected">Economy</option>
			  <option value="volvo">Premium Economy</option>
			  <option value="saab">Business</option>
			  <option value="fiat">First Class</option>
			</select>
			<label>Departing</label>
       	<input type="date" name="date" required placeholder="11/19/2016">
      <label>Arriving</label>
       	<input type="date" name="date" required placeholder="11/29/2016">
			<select name="Kids">
				<option value="more filters selected">0 Kids</option>
			  <option value="volvo">2 Kids</option>
			  <option value="saab">3 Kids</option>
			  <option value="fiat">4 Kids</option>
			</select>
			<button class="button button--secondary">Update</button>
		</div>

		<button class="button button--main">Book</button>
	</div>

</div>

			
<%= partial "partials/footer" %>