---
title: Wanderlust
layout: layout
---
<header class="hero">	

<section class="nav--secondary">
	<div class="container">
		<ul class="container--narrow">
			<li><a href="/index.html"><img class="logo" src="../images/logo.svg"></a></li>
			<li class="right"><a class="icon__text clean-link" href="/index.html">Wanderlust</a></li>
		</ul>

		<div class="container--medium nav-list clean-list">
			<ul class="right">
				<li class="nav-single__link"><a class="clean-link" href="#">Welcome, Eva</a></li>
			</ul>
		</div>
	</div>
</section>



<h1 class="hero__tagline show-medium">Discover your inner explorer</h1>  

<div class="container">
	<div class="form-table">
  
	  <input id="tab1" type="radio" name="tabs" checked>
	  <label for="tab1" class="form-table__label">FLIGHTS</label>
	    
	  <input id="tab2" type="radio" name="tabs">
	  <label for="tab2" class="form-table__label">LODGING</label>
	    
	  <input id="tab3" type="radio" name="tabs">
	  <label for="tab3" class="form-table__label">CARS</label>

		<section class="content" id="content1">    
    	<div class="tab-content"> 
     		<ul class="flight-search">
         	<li><a href="#">round trip</a></li>
         	<li><a href="#">one-way</a></li>
         	<li><a href="#">multi-city</a></li>   
      	</ul>

	      <section class="inputs">
	      	<div class="row">
	      		<div class="row-half">
	      			<label>flying from</label>	 
	         			<input type="text" name="fname" placeholder="city or airport">
	         	</div>
	         	<div class="row-half">
	        		<label>flying to</label> 
	         			<input type="text" name="fname" placeholder="city or airport">
	         	</div>
	      	</div>
	         
	      	<div class="row">
	      		<div class="row-half">
	         		<label>departing</label>
	         			<input type="date" name="date" required placeholder="depart">
	          </div>
	          <div class="row-half">
	         		<label>returning</label>
	         			<input type="date" name="date" required placeholder="return">
						</div>
					</div>

					<div class="row">
						<div class="row-half">
							<label class="select-style">Adults</label>
		         		<select>
									<option value="option1">1</option>
									<option value="option2">2</option>
		         		</select>
	         	</div>
						<div class="row-half">
		         	<label class="select-style">Children</label>
		         		<select>
									<option value="option1">1</option>
									<option value="option2">2</option>
		         		</select>
	         	</div>
	      	</div>	
	     	</section>
    	</div>

    <input type="button" value="SEARCH" class="search" onclick="location.href='/flight-results.html';">
</section>
    
<section class="content" id="content2">    
  <div class="tab-content"> 
    <section class="inputs">
    	<div class="row">
    		<div class="row-half">
      		<label>destination</label>
      		<input type="text" name="fname" placeholder="city or hotel name">
      	</div>
      	<div class="row-half">
          <label>rooms</label>
            <label class="select-style">
              <select>
               <option disabled selected>1</option>
               <option value="Option 1">1</option>
               <option value="Option 1">2</option>
               <option value="Option 2">3</option>
               <option value="Option 3">4</option>
               <option value="Option 4">5</option>
               <option value="Option 5">6</option>
              </select>
            </label>
       	</div>
      </div>

      <div class="row">
      	<div class="row-half">          		
       		<label>check-in</label>
       		<input type="date" name="date" required placeholder="depart">
       	</div>
       	<div class="row-half">           		
       		<label>check-out</label>
       		<input type="date" name="date" required placeholder="return">
       	</div>
			</div>

			<div class="row">
				<div class="row-half">
          <label>adults</label>
            <label class="select-style">
              <select>
               <option disabled selected>1</option>
               <option value="Option 1">1</option>
               <option value="Option 1">2</option>
               <option value="Option 2">3</option>
               <option value="Option 3">4</option>
               <option value="Option 4">5</option>
               <option value="Option 5">6</option>
              </select>
          	</label>
        </div>
       
       	<div class="row-half">
	       <label>children</label>
            <label class="select-style">
              <select>
               <option disabled selected>0</option>
               <option value="Option 1">1</option>
               <option value="Option 1">2</option>
               <option value="Option 2">3</option>
               <option value="Option 3">4</option>
               <option value="Option 4">5</option>
               <option value="Option 5">6</option>
              </select>
            </label> 
      	</div>    
    	</div>
    </section>
  </div>
  <input type="button" value="SEARCH" class="search" onclick="location.href='#';">
</section>

<section class="content" id="content3">    
	<div class="tab-content"> 
		<section class="inputs">
			<div class="row">
				<div class="row-half">
    			<label>car pick up</label>
     			<input type="text" name="fname" placeholder="city, zipcode or airport">
     		</div>
     		<div class="row-half">
     			<label>car drop off</label>
     			<input type="text" name="fname" placeholder="city, zipcode or airport">
     		</div>
			</div>
			<div class="row">
				<div class="row-half">
     			<label>pick up day</label>
     			<input type="date" name="date" required placeholder="depart"> 
				</div>
				<div class="row-half">
      		<label>pick up time</label>
      			<label class="select-style">
			        <select>
				        <option disabled selected>12:00pm</option>
				        <option value="Option 1">12:00pm</option>
				        <option value="Option 1">1:00pm</option>
				        <option value="Option 2">2:00pm</option>
				        <option value="Option 3">3:00pm</option>
				        <option value="Option 4">4:00pm</option>
				        <option value="Option 5">5:00pm</option>
			        </select>
			      </label>
     		</div>
     	</div>
			<div class="row">
				<div class="row-half">
     			<label>drop off day</label>
     			<input type="date" name="date" required placeholder="return">
				</div>
				<div class="row-half">
			    <label>drop off time</label>
			      <label class="select-style">
			        <select>
			         <option disabled selected>12:00pm</option>
			         <option value="Option 1">12:00pm</option>
			         <option value="Option 1">1:00pm</option>
			         <option value="Option 2">2:00pm</option>
			         <option value="Option 3">3:00pm</option>
			         <option value="Option 4">4:00pm</option>
			         <option value="Option 5">5:00pm</option>
			        </select>
			      </label>
      	</div>
      </div>
			<div class="row">
				<div class="row-half">
		      <label>vehicle type</label>
		      	<label class="select-style">
			        <select>
			          <option disabled selected>economy</option>
			          <option value="Option 1">economy</option>
			          <option value="Option 1">compacy</option>
			          <option value="Option 2">fullsize</option>
			          <option value="Option 3">premium</option>
			          <option value="Option 4">luxury</option>
			          <option value="Option 5">convertible</option>
			          <option value="Option 5">minivan</option>
			          <option value="Option 5">sports utility vehicle</option>
			        </select>
		      </label>
		    </div>
     		<div class="row-half">
		      <label>company</label>
		      <label class="select-style">
		        <select>
		          <option disabled selected>no preference</option>
		          <option value="Option 1">no preference</option>
		          <option value="Option 1">avis</option>
		          <option value="Option 2">budget</option>
		          <option value="Option 3">enterprise</option>
		          <option value="Option 4">hertz</option>
		          <option value="Option 5">thrifty</option>
		        </select>
		      </label>
      	</div>
  		</div>
  </section>
 
</div>
      <input type="button" value="SEARCH" class="search" onclick="location.href='#';">
  </section>
</div>
</div>

</header>

<section class="container card--narrow__position">
	<h1 class="section-title">Featured Deals</h1>

	<ul class="card-row card--narrow__row">
		<ul class="card card--narrow thirds">
			<li class="oslo"></li>
			<ul class="card--narrow__content">
				<li><h1 class="card--narrow__title">Oslo, Norway</h1></li>
				<li><p class="left">Hotel Aurora</p></li>
				<li><p class="right"><span class="strikethrough">$249</span> $199</p></li>
			</ul>			
		</ul>

		<ul class="card card--narrow thirds">
			<li class="boston"></li>
			<ul class="card--narrow__content">
				<li><h1 class="card--narrow__title">Boston</h1></li>
				<li><p class="left">Marriot Inn</p></li>
				<li><p class="right"><span class="strikethrough">$189</span> $159</p></li>
			</ul>
		</ul>

		<ul class="card card--narrow thirds">
			<li class="rio"></li>
			<ul class="card--narrow__content">
				<li><h1 class="card--narrow__title">Rio de Jeniero</h1></li>
				<li><p class="left">Hotel Novotel</p></li>
				<li><p class="right"><span class="strikethrough">$150</span> $99</p></li>
			</ul>
		</ul>
	</ul>

	<ul class="card-row card--narrow__row">
		<ul class="card card--narrow thirds">
			<li class="st-thomas"></li>
			<ul class="card--narrow__content">
				<li><h1 class="card--narrow__title">St. Thomas</h1></li>
				<li><p class="left">Paradise Inn</p></li>
				<li><p class="right"><span class="strikethrough">$109</span> $89</p></li>
			</ul>	
		</ul>

		<ul class="card card--narrow thirds">
			<li class="napa"></li>
			<ul class="card--narrow__content">
				<li><h1 class="card--narrow__title">Napa Valley</h1></li>
				<li><p class="left">Napa Lodge</p></li>
				<li><p class="right"><span class="strikethrough">$360</span> $310</p></li>
			</ul>
		</ul>

		<ul class="card card--narrow thirds">
			<li class="bangkok"></li>
			<ul class="card--narrow__content">
				<li><h1 class="card--narrow__title">Bangkok, Thailand</h1></li>
				<li><p class="left">Hilton Bangkok</p></li>
				<li><p class="right"><span class="strikethrough">$289</span> $250</p></li>
			</ul>	
		</ul>
	</ul>

</section>

<%= partial "partials/footer" %>